<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>

<body>
    <nav>
        <h3 class="nombre-server">PuntoRP</h3>
        <div>
            <a href="/">Inicio</a>
            <a href="/tienda">Tienda</a>
            <a href="/normas">Normas</a>
            <a href="https://discord.gg/eUejUWDHNc">Contactanos</a>
        </div>
        {% if steam_user %}
        <div style="display:flex; align-items:center; gap:5px;">
            <img class="steam-avatar" src="{{ steam_user.avatar }}" alt="">
            <span>{{ steam_user.personaname }}</span>
            <a href="{{ url_for('logout') }}"><button>Logout</button></a>
        </div>
        {% else %}
        <div class="login-frame">
            <a href="{{ url_for('login') }}" class="login-link">Iniciar Sesion</a>
        </div>
        {% endif %}
    </nav>

</body>

</html>